/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

/* General Style Rules */
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    font-family: Montserrat,sans-serif;
    background-color: #fddcc356;
}

/* HOME PAGE - General */

#main {
    min-height: 100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #fddcc356;   
}

.flex-container-home {
    width:90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-left {
    width:50%;
    height:700px;
    background: url('/assets/images/home-img.jpg') no-repeat center /cover;
    border-radius: 6px;
}

.flex-right {
    width:50%;
    min-height:400px;
    background-color: #6b7a8f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    border-radius: 6px;
    color: white;
    margin: -50px;
    flex-direction:column;
    font-weight: lighter; 
}

.flex-right > div {
    background-color: #f1f1f1;
    width: 90%;
    line-height: 50px;
    font-size: 30px;
    padding:10px;
     background-color: #6b7a8f;
    text-align: center;
}