/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

/* General Style Rules */
 
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    }

body {
    font-family: Montserrat,sans-serif;
    background-color: #fddcc356;
    }

/* HOME PAGE - General Styling*/

#main {
        min-height: 100vh;
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: #fddcc356;   
    }

.flex-container-home {
    width:90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.flex-right {
    width:90%;
    min-height:400px;
    background-color: #6b7a8f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    border-radius: 6px;
    color: white;
    flex-direction:column;
    font-weight: lighter; 
    }

.flex-right > div {
    background-color: #f1f1f1;
    width: 90%;
    line-height: 50px;
    font-size: 30px;
    padding:10px;
    background-color: #6b7a8f;
    text-align: center;
    }

.fas {
    font-size: 30px;
    }

.flex-right h1,h2 {
        font-weight: lighter; 
    }

.flex-right p {
        margin:20px 0;
        line-height: 30px;
        font-size: 18px;   
    }

.button {
        text-decoration: none;
        background:   #f7882f;;
        border: solid 2px white ;
        border-radius: 3px;
        transition: .4s;
        width:200px;
        height:50px;
        font-size: 20px;
        color: rgba(0,0,0);
        cursor: pointer;
        font-weight: lighter; 
        font-family: Montserrat,sans-serif;        
    }
    
.button:hover { 
        color: white;
        border: solid 2px #f7882f;
    }
    
/* HOME PAGE - JS Modal Button for Instructions */
    
      .modal {
          display:none;
          position:fixed;
          z-index: 1;
          left:0;
          top:0;
          height: 100%;
          width: 100%;
          overflow: auto;
          background-color: rgba(0,0,0,0.5);
    }
      
      .modal-content {
          background-color:#fddcc356; ;
          margin:20% auto;
          font-family: Montserrat,sans-serif;
          width:40%;
          animation-name: openmodal;
          animation-duration: 1s;
      }
      
      .modal-header h2, .modal-footer h3 {
          margin:0;
          text-align: center;
          font-weight: lighter;
      }
      
      .modal-header {
          background-color: #6b7a8f;
          padding:15px;
          color:white;
          font-size:20px;
      }
      
      .modal-body {
          padding:10px 20px;
          background-color: #f7882f;
          font-size:25px;
          color:black;
      }

      .modal-body p {
        font-size:20px;
        text-align: center;
    }
      
      .modal-footer {
          padding:10px 20px;
          background-color: #6b7a8f;
          font-size:20px;
      }
      
      .closeBtn {
          color:#f7882f;
          float:right;
          font-size: 40px;
      }
      
      .closeBtn:hover,.closeBtn:focus {
          color:#000;
          text-decoration: none;
          cursor: pointer;
      
      }
      
      @keyframes openmodal {
      from{opacity:0}
      to   {opacity: 1;} 
      }

/* HOME PAGE - Media Queries */

  @media only screen and (max-width:1300px) {

    .flex-container-home {
        flex-direction: column;
        width: 100%; 
    }

    .flex-right {
        width:80%;
        flex-direction:column;
        font-weight: lighter; 
        margin-top:15px;
    }

    .modal-content {
        width:100%;
    }

}

  @media only screen and (max-width:370px) {

    .flex-right{
        width:92%;
    }
    
    .button {
        width:120px;
        height:50px;
        font-size: 18px;
    }

  }
    
@media only screen and (max-width:320px) {

    .flex-right > div {
        width:90%;
       
    }

    .flex-right > h1 {
        font-size: 22px; 
    }

    .button {
        width:110px;
        height:50px;
        font-size: 16px;
    }

}

/* QUIZ PAGE - General Styling */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fddcc356;   
    font-weight: lighter;
}

.container > * {
    width: 90%;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    height:70px;
    font-size: 22px;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: #6b7a8f;
    color:white;
    font-weight: lighter;
    border-radius: 5px; 
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #f7882f;;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
    width:100%;
  }

  .correct {
      background-color: green;
  }

  .incorrect {
    background-color: red;
}

/* QUIZ PAGE - Heads Up Display */

#hud {
    display:flex;
    justify-content: space-between;
}

.quiz-content {
    margin-bottom:20px;
    font-size: 25px;
}

/* QUIZ PAGE - Exit Button */

.exit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}


 /* QUIZ PAGE - Media Queries */

 @media only screen and (max-width:710px) {

    .choice-container {
        font-size: 20px;
        }

}

 @media only screen and (max-width:330px) {

    .choice-container {
    font-size: 16px;
    }

    .quiz-content {
        font-size:18px;
    }

    .choice-prefix {
        padding: 20px 20px;
        background-color: #f7882f;;
        color: white;
    }

    .choice-text {
        padding: 5px;
    }

}
    
 /* CONCLUDE PAGE */

 .btn {
    text-decoration: none;
        background:   #f7882f;;
        border: solid 2px white ;
        border-radius: 3px;
        transition: .4s;
        width:200px;
        height:50px;
        font-size: 20px;
        color: rgba(0,0,0);
        cursor: pointer;
        font-weight: lighter; 
        font-family: Montserrat,sans-serif;
    }
    
    .btn:hover {
      cursor: pointer;
      box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
      transform: translateY(-0.1rem);
      transition: transform 150ms;
    }
    
    .btn[disabled]:hover {
      cursor: not-allowed;
      box-shadow: none;
      transform: none;
    }
    
    /*  CONCLUDE PAGE - USER INPUT */

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    input {
      margin-bottom: 1rem;
      width:200px;
      padding: 10px;
      font-size: 20px;
      border: none;
      box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    }
    
    input::placeholder {
      color: #aaa;
    }
    
    #end {
        font-size: 24px;
    }

    .margin{
        margin-top: 20px;
    }

    /* CONCLUDE PAGE - Media Queries */

    @media only screen and (max-width:370px) {
        .btn  {
            width:120px;
            height:50px;
            font-size: 18px;
        }

    }

    /* HIGHSCORES PAGE */

    #highScoresList {
        list-style: none;
        padding-left: 0;
        margin-bottom: 4rem;
        font-size: 22px;
        color:white;
      }

      .highScores {
         border:1px solid white;
         height:250px;
         margin-top: 5px;
         font-weight: lighter; 
         color:white;
      }
      
      /* HIGHSCORES - Media Queries */

 @media only screen and (max-width:330px) {

    #highScoresList {
    font-size: 18px;
    }

}